@import url('https://unpkg.com/normalize.css@8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --you-tube: hsl(348, 97%, 39%);
}

html {
    font-family: 'Inter', sans-serif;
}

body {

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    gap: 32px;
    justify-content: center;
}

.grid-container header {
    grid-column: 1 / span 4;
}

.card {
    border-radius: 4px;
    background-color: hsl(227, 47%, 96%);
    color: hsl(228, 12%, 44%);
    overflow: hidden;
    text-align: center;
}

.card .inner {
     border-top: 4px solid;
}

.card.facebook .inner {
    border-color: var(--facebook);
}
.card.twitter .inner {
    border-color: var(--twitter);
}
.card.instagram .inner {
    border-image: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}
.card.you-tube .inner {
    border-color: var(--you-tube);
}

.card header {
    display: flex;
    justify-content: center;
    justify-items: start;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding: 1.5em;
}

.card header img {
    margin-right: 10px;
}